// Utilities
@import '../../utilities/variables';

.More {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  max-height: 100vh !important;
}
.More__Icon {
  fill: rgba($white, 0.8);
}
.EditIcon {
  margin: 5px;
  height: 14px;
}
.More__Section__Header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
  width: 100%;
}
.More__Button {
  margin: 20px;
  display: block;
  background: none;
  border: none;
  color: rgba($white, 0.5);
}

.More__Section {
  width: 100%;
  background-color: rgba($grey, 0.3);
  margin: 1px 0px;
  text-align: left;
  padding: 15px;
  display: flex;
  flex-direction: column;
  color: rgba($white, 0.5);
}
.More__Section__Title {
  font-size: 18px;
  font-family: $font-secondary;
  font-weight: bold;
}
.More__Section span {
  margin-left: 10px;
}
.More__Section button {
  font-size: 18px;
  font-family: $font-secondary;
  font-weight: bold;
  text-align: left;
  border: none;
  background: none;
  margin: 5px 5px;
  color: inherit;
}
