// Utilities
@import '../../utilities/variables';

.Show {
  margin-top: 5px;
  background-color: rgba($black, 1);
}
.Show__Banner {
  position: relative;
  width: 100px;
}

.Show__Image {
  height: 155px;
  width: 100%;
  object-fit: cover;
}

.Show__PlayButton {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid $white;
  background-color: rgba($black, 0.2);
  color: $white;
  display: none;
}

.Show__Info {
  display: flex;
  justify-content: center;
  padding: 5px 5px;
  color: rgba($white, 0.7);
  font-family: $font-secondary;
}

.Show__PlayButton__Icon {
  color: white;
  fill: white;
  width: 20px;
  height: 20px;
  transform: translateX(2.5px);
}

@media (min-width: 700px) {
  .Show:hover {
    cursor: pointer;
  }
  .Show__Banner {
    width: 220px;
  }
  .Show__Image {
    height: 100px;
    object-fit: fill;
  }
  .Show__Info {
    display: none;
  }
}
