// Utilities
@import '../../utilities/variables';

.List__Title {
  text-align: left;
}
.List__Titles {
  display: flex;
  overflow-x: scroll;
  gap: 5px;
}

.List__Titles::-webkit-scrollbar {
  display: none;
}

.List {
  margin-top: 10px;
}
.List + .List {
  margin-top: 40px;
}

.List:last-child {
  margin-bottom: 80px;
}

@media (min-width: 700px) {
  .List {
    font-size: 20px;
    font-weight: 600;
    position: relative;
    margin-top: -60px;
    z-index: 2;
  }

  .List:hover {
    & .Show .Show__PlayButton {
      display: block;
    }
  }
}
