// Utilities
@import '../../utilities/variables';

.List__Title {
  text-align: left;
  font-family: $font-primary;
  font-size: 22px;
  color: rgba($white, 0.8);
}
.List__Titles {
  display: flex;
  overflow-x: scroll;
  gap: 5px;
}

.List__Titles::-webkit-scrollbar {
  display: none;
}

.List {
  position: relative;
  z-index: 2;
  margin-top: -50px;
  font-size: 20px;
  font-weight: 600;
}
.List + .List {
  margin-top: 40px;
}

.List:last-child {
  margin-bottom: 80px;
}

@media (min-width: 700px) {
  .List {
    margin-top: -60px;
  }

  .List:hover {
    & .Show .Show__PlayButton {
      display: block;
    }
  }
}
