@import '../../utilities/variables';

.Search {
  padding-top: 15px;
  position: fixed;
  height: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

.Search__Bar {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 98%;
  height: 40px;
  background-color: rgba($grey, 0.5);
  border-radius: 2px;
}
.Search__Bar__Icon {
  stroke: rgba($white, 0.5);
  fill: none;
}

.Search__Bar__Icon.Microphone {
  fill: rgba($white, 0.5);
  stroke: none;
}

.Search__Bar__Input {
  width: 60%;
  color: rgba($white, 0.9);
  border: none;
  background-color: transparent;
  outline: none;
  font-family: $font-secondary;
  font-weight: bold;
}

.Search__Content {
  margin-top: 5px;
  text-align: left;
  background-color: rgba($grey, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.Search__Content__Filler {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0px 20px 100px;
  font-size: 22px;
}

.Search__Content__Filler {
  font-family: $font-primary;
  line-height: 28px;
}

.Search__Content__Filler__p {
  font-family: $font-secondary;
  color: rgba($white, 0.7);
  font-size: 16px;
  line-height: 22px;
}
