// Utilities
@import '../../utilities/variables';

.DownloadPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  color: $white;
  background-color: rgba($grey, 0.25);
}

.DownloadPage__DownloadIcon__Background {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: rgba($grey, 1);
  border-radius: 100px;
}

.DownloadPage__DownloadIcon {
  fill: $black;
  width: 60%;
  height: 60%;
}

.DownloadPage__Button {
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 3px;
  font-family: $font-primary;
  background-color: rgba($grey, 0.8);
}

.DownloadPage__Paragraph {
  padding: 10px;
  font-size: 22px;
  color: rgba($white, 0.6);
  width: 300px;
  font-family: $font-secondary;
}
