$red: #db0000;
$grey: #59595a;
$black: #000000;
$white: #ffffff;
$dark-red: #831010;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
$font-primary: 'Raleway', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
$font-secondary: 'Quicksand', sans-serif;
