// Utilities
@import '../../utilities/variables';

.Soon {
  overflow-y: scroll;
  padding-bottom: 100px;
  background-color: rgba($grey, 0.25);
}

.Soon__Item {
  display: grid;
  grid-template-areas:
    'preview preview'
    'date button'
    'title title'
    'description description'
    'tags tags';
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 20px;
  margin-top: 5px;
  text-align: left;
  & + .Soon__Item {
    margin-top: 70px;
  }
}
.Soon__Preview {
  grid-area: preview;
  width: 100%;
  height: 200px;
  border: none;
  object-fit: cover;
}
.Soon__Date,
.Soon__Item__Title,
.Soon__Item__Description,
.Soon__Item__Tags {
  padding-left: 10px;
}
.Soon__Date,
.Soon__Button,
.Soon__Item__Title,
.Soon__Item__Description,
.Soon__Item__Tags {
  font-family: $font-secondary;
  font-weight: lighter;
  color: rgba($white, 0.5);
}
.Soon__Date {
  grid-area: date;
  display: flex;
  font-size: 16px;
}

.Soon__Button {
  grid-area: button;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba($grey, 1);
  border: none;
  width: 215px;
  color: rgba($white, 0.9);
  font-size: 14px;
  padding: 10px;
  font-family: $font-primary;
  border-radius: 3px;
}

.Soon__NotificationIcon {
  fill: rgba($white, 1);
  height: 16px;
}

.Soon__Item__Title {
  grid-area: title;
  display: block;
  font-family: $font-primary;
  color: rgba($white, 1);
}

.Soon__Item__Description {
  grid-area: description;
  display: block;
}

.Soon__Item__Tags {
  grid-area: tags;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: rgba($white, 1);
}
.Soon__Item__Tags__Span {
  display: block;
  font-size: 0.8rem;
}

.Soon__Item__Tags__Span:nth-of-type(2n) {
  opacity: 0.55;
  font-size: 0.6rem;
  user-select: none;
  color: rgba($white, 0.5);
}
