// Utilities
@import '../../utilities/variables';

.Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  height: 60px;
  color: $white;
  z-index: 2;
  background-color: $black;
}

.Footer button {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
  color: $white;
  border: none;
  opacity: 0.5;
  font-family: $font-secondary;
  font-weight: 600;
}

.Footer__Icon {
  fill: none;
  stroke: rgba($white, 1);
}
.Footer .active {
  opacity: 1;
}

@media (min-width: 700px) {
  .Footer {
    display: none;
  }
}
