// Utilities
@import '../../utilities/variables';

.Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  height: 45px;
  background-color: $black;
  color: $white;
}

.Footer .active {
  color: inherit;
  background-color: $dark-red;
}
