// Utilities
@import '../../utilities/variables';

.Banner {
  position: relative;
  display: flex;
  height: 400px;
  justify-content: center;
  position: relative;
}
.Banner__Desktop,
.Banner__Mobile {
  height: 100% !important;
  width: 100% !important;
  visibility: hidden;
  isolation: isolate;
  position: absolute;
  object-fit: cover;
  z-index: 1;
}
.Banner__Mobile {
  visibility: visible;
}
.Banner__Overlay {
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.7)
  );
  height: 100%;
  width: 100%;
  z-index: 1;
}
.Banner__Info {
  position: relative;
  bottom: 60px;
  width: 100%;
  align-self: flex-end;
  z-index: 2;
}

.Banner__Tags {
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}

.Banner__Tags__Tag {
  display: block;
  font-weight: bold;
  font-size: 12px !important;
  opacity: 0.8 !important;
  font-family: $font-secondary;
}

.Banner__Tags__Tag:nth-of-type(2n) {
  opacity: 0.4 !important;
  font-size: 8px !important;
}

.Banner__Buttons {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  height: 70px;
}

.Banner__Buttons__Button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  font-weight: bold;
  color: $white;
  background-color: transparent;
  font-family: $font-secondary;
}
// Watch
.Banner__Buttons__Button:nth-child(2) {
  flex-direction: row;
  background-color: $white;
  color: $black;
  height: 40px;
  font-family: $font-primary;
  font-weight: bold;
}
.Banner__Buttons__Button__DesktopSpan {
  display: none;
}
.Banner__Buttons__Button__PlayIcon,
.Banner__Buttons__Button__InfoIcon,
.Banner__Buttons__Button__PlusIcon {
  width: 18px;
  height: 18px;
}

.Banner__Buttons__Button__InfoIcon,
.Banner__Buttons__Button__PlusIcon {
  stroke: white;
  margin-bottom: 5px;
}

@media screen and (min-width: 700px) {
  .Banner {
    height: 500px;
    justify-content: flex-start;
  }
  .Banner__Mobile {
    visibility: hidden;
  }
  .Banner__Desktop {
    visibility: visible;
    object-fit: cover;
  }
  .Banner__Info {
    display: flex;
    bottom: 0px;
    align-items: center;
    height: 100%;
    width: 35%;
  }
  .Banner__Overlay {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.9),
      rgba(255, 255, 255, 0)
    );
  }
  .Banner__Tags {
    display: none;
  }
  .Banner__Buttons {
    display: grid;
    grid-template-areas: 'watch moreInfo moreInfo';
    width: 100%;
    gap: 10px;
    justify-content: flex-start;

    & button {
      font-size: 16px;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      font-family: $font-primary;
      border-radius: 3px;
    }
  }
  .Banner__Buttons__Button:first-child {
    display: none;
  }
  .Banner__Buttons__Button__MobileSpan {
    display: none;
  }
  // Watch
  .Banner__Buttons__Button:nth-child(2) {
    width: fit-content;
    padding: 20px;
    grid-area: watch;
    width: 120px;
  }

  // More Info
  .Banner__Buttons__Button:nth-child(3) {
    background-color: rgba($grey, 0.6);
    display: flex;
    flex-direction: row;
    padding: 11px 10px;
    grid-area: moreInfo;
    width: 200px;
  }
  .Banner__Buttons__Button__InfoIcon {
    fill: none;
    height: 18px;
    margin: 0;
    & path {
      stroke-width: 4px;
    }
  }
  .Banner__Buttons__Button__DesktopSpan {
    display: block;
  }
}
